extends ../base.pug

block variables
  - var template ='about'

block content
  .about
    .about--wrapper
      section.about--gallery
        .about--gallery--wrapper
          each media in about.data.gallery
            figure.about--gallery--media
              img.about--gallery--media--image(alt=media.image.alt src=media.image.url)


